body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.banner {
    width: 100vw;
    position: relative;
    padding: 0%;
}


#main > section {
    border-top: solid 6px #f4f4f4;
}

    #main > section > .container {
        padding: 6em 0 4em 0;
    }

    #main > section:first-child {
        border-top: 0;
    }

    #main > section > .container {
        padding: 4em 0 2em 0;
    }

    .card{
        margin: auto auto;
        width: 50vw;

    }